<site-header></site-header>

<div class="container pool-list">
    <div class="row list-label">
        <div class="col-2">Name</div>
        <div class="col-2">Address</div>
        <div class="col-3">Mobile number</div>
		<div class="col-3">Email <div class="search"><input type="text" placeholder="Search..."></div></div>
    </div>
    
    <ul>
        <li>
            <div class="pool-title roundtrip">
                <div class="col-2">Prakash Upadhyay</div>
                <div class="col-2">BTM</div>
                <div class="col-3">8123456789</div>
                <div class="col-3">demo@gmail.com</div>
            </div>
        </li>
		<li>
            <div class="pool-title roundtrip">
                <div class="col-2">Rakesh Raj</div>
                <div class="col-2">BTM</div>
                <div class="col-3">8123456789</div>
                <div class="col-3">demo@gmail.com</div>
            </div>
        </li>
		<li>
            <div class="pool-title roundtrip">
                <div class="col-2">Hitesh Sirdeshai</div>
                <div class="col-2">BTM</div>
                <div class="col-3">8123456789</div>
                <div class="col-3">demo@gmail.com</div>
            </div>
        </li>
		<li>
            <div class="pool-title roundtrip">
                <div class="col-2">Hrithik Roshan</div>
                <div class="col-2">Bangalore</div>
                <div class="col-3">8123456789</div>
                <div class="col-3">demo@gmail.com</div>
            </div>
        </li>
    </ul>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-5">Copyright &copy; 2016 ContactBook</div>
            <div class="col-5 text-right footer-links">
                <a href="#">Contact us</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer><!-- end of footer -->