    <header>
        <div class="container">
            <div class="row">
                <div class="col-3"><a class="brand-logo" ui-sref="dashboard">Phonebook</a></div>
                
                <div class="col-7">
                    <div class="nav-right pull-right">
                        <a href="#">Contact List</a>
                        <a href="#" class="add-new">Add New</a>
                       
						<div class="user-profile">
                            <button class="text-center user-btn"><span class="user-icon"></span> <span class="user-name">Hola! Prakash</span></button>
                            <ul>
                                <li><a href="#">My Contact</a></li>
                                <li><a href="#">Edit profile</a></li>
                                <li><a class="logout" href="#login">Logout</a></li>
                            </ul>
                        </div><!--end of user-profile -->
                    </div>
                </div>
            </div>
            
            
        </div>
    </header>
    <!-- end of header -->